* {
    margin: auto;
    padding: 0;
    max-width: 1170px;
}

header {
    padding: 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .right nav ul {
    display: flex;
    list-style-type: none;
}

header .right nav ul li {
    border-left: 1px solid grey;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 18px;
}

header .right nav ul li:nth-child(1) {
    border: none;
}

header .right nav ul li:hover {
    color: rgb(55, 226, 238);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header div img {
    height: 45px;
    width: 54px;
    margin-right: 20px;
}

span {
    color: grey;
}

.name {
    color: red;
}

.section1 {
    background-color: #eee;
    display: flex;
    justify-content: space-around;
}

.section1 .iphone img {
    height: 350px;
    width: 380px;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn button {
    font-size: 15px;
    color: white;
    height: 44px;
    width: 130px;
    border-radius: 5px;
    border: none;
    background-color: red;
}

.section2 {
    padding: 0px 30px 0px 30px;
    background: #6dc5dd;
    color: white;
    display: flex;
    justify-content: space-around;
}

.box {
    display: flex;

}

.text {
    max-width: 300;
    max-height: 210;
}

.box .circle img {
    height: 45px;
    width: 32px;
}

.circle {
    margin: 20px;
    background-color: white;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text h2 {
    margin: 30px 0px 30px 0px;
}

.text p {
    margin: 30px 0px 30px 0px;
}

.section3 {
 display: flex;
}
.section3 .man .men{
    display: flex;
    justify-content: space-between;
    padding: 50px 30px 30px 30px;
}
.section3 .man .men .text-man{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 540px;
    justify-content: space-between;
    
}
/* .section3 .man .men .text-man p{
    padding-top: 25px ;
} */
.section3 button {
    font-size: 15px;
    color: white;
    height: 44px;
    width: 70px;
    border-radius: 5px;
    border: none;
    background-color: red;
}
.section3 img {
    max-width: 200px;
    max-height: 205px;
    border-radius: 5px;
    padding-right: 20px;
}


.section3 .rside {
    padding: 60px 30px 60px 30px;
    max-width: 340px;
}

.section3 .rstop {
    background-color: #003d48;
    padding: 40px 30px;
    max-width: 340px;
    border-radius: 5px;
}
.section3 .rstop h2{
    color: #6dc5dd;
}
.section3 .rstop p{
    color: white;
}
.section3 .rsbot {
    max-width: 340px;
}
.rsbot{
    border: 2px solid rgb(187, 184, 184);
    padding: 40px 30px;
}
.section3 .rsbot p {
    border-bottom: 1px solid rgb(187, 184, 184);
    padding: 10px;
    
}
.section3 .rsbot p:last-child{
    border-bottom:none;
}
.section3 .rsbot p::first-letter{
    color: red;
}
.section4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f77462ed;
    color: white;
    height: 200px;
    max-width: 1170px;
}

.section4 p {
    max-width: 640px;
}

.section5 p {
    margin: 5px 30px 5px 30px;
    padding: 15px 0px 15px 0px;
    text-align: center;
    font-size: 15px;
    color: #6dc5dd;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
}

.section5 h2 {
    padding: 60px 0px 0px 0px;
    text-align: center;
    font-size: 25px;
}

.section6 {
    display: flex;
}
.section6 .calendar2{
    display: flex;
    flex-direction: column;
    max-width: 570px;
}
.section6 .calendar {
    margin: 30px;
    display: flex;
}
.section6 .data{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.section6 .redd {
    color: red;
    padding: 10px 0px 10px 0px;
}

.section6 img {
    height: 70px;
    width: 70px;
}

.section6 .grey {
    max-width: 540px;
    max-height: 175px;
    background-color: grey;
    margin: 30px;
}
.section6 .greyy .grey .circle-2{
    max-width: 108px;
    max-height: 108px;
    background-color: white;
}
footer .foot{
    padding-bottom: 30px;
    border-bottom: 1px solid white;
    background-color: #6dc5dd;
    display: flex;
    justify-content: space-between;
}
footer div:first-child{
    padding-left: 30px;
}
footer div:last-child{
    padding-right: 30px;
}
footer div h3{
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
}
footer div p {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
footer .down {
    padding: 30px;
    background-color: #6dc5dd;
    display: flex;
    justify-content: space-between;
}