* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 1170px;
}

header {
    padding: 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .right nav ul {
    display: flex;
    list-style-type: none;
}

header .right nav ul li {
    border-left: 1px solid grey;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 18px;
}

header .right nav ul li:nth-child(1) {
    border: none;
}

header .right nav ul li:hover {
    color: rgb(55, 226, 238);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header div img {
    height: 45px;
    width: 54px;
    margin-right: 20px;
}

span {
    color: grey;
}

.name {
    color: red;
}

.section1 {
    background-color: #eee;
    display: flex;
    justify-content: space-around;
}

.section1 .iphone img {
    height: 350px;
    width: 380px;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn button {
    font-size: 15px;
    color: white;
    height: 44px;
    width: 130px;
    border-radius: 5px;
    border: none;
    background-color: red;
}

.section2 {
    padding: 30px 4px 20px 0px;
    background: #6dc5dd;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.circle {
    background-color: white;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.section2 .text {
    max-width: 244px;
}

.section2 .text p {
    padding: 24px 0px 24px 0px;
}

.section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.section3 button {
    font-size: 15px;
    color: white;
    height: 44px;
    width: 70px;
    border-radius: 5px;
    border: none;
    background-color: red;
    margin-top: 15px;
}

.section3 img {
    max-width: 100px;
    max-height: 100px;
}
.section3 .man {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
    max-width: 740px;
}
.section3 .man p {
    max-width: 540px;
}.section3 .man:nth-child(2) {
    order: 1;
}
.section3 .rside {
    max-width: 340px;
}
.section3 .rstop {
    background-color: #003d48;
    max-width: 340px;
}

.section3 .rsbot{
    max-width: 340px;
}
.section3 .rsbot p{
    border-bottom: 1px solid gray;
}

.section4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f77462ed;
    color: white;
    height: 200px;
    max-width: 1170px;
}

.section4 p {
    max-width: 640px;
}

.section5 p {
    margin: 5px 30px 5px 30px;
    padding: 15px 0px 15px 0px;
    text-align: center;
    font-size: 15px;
    color: #6dc5dd;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
}

.section5 h2 {
    padding: 60px 0px 0px 0px;
    text-align: center;
    font-size: 25px;
}

.section6 {
    width: 1170px;
    height: 446px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section6 .redd {
    color: red;
    padding: 10px 0px 20px 0px;
}

.section6 img {
    height: 70px;
    width: 70px;
}

.section6 .grey1 {
    width: 540px;
    height: 175px;
    background-color: grey;
}

.section6 .grey2 {
    width: 540px;
    height: 175px;
    background-color: grey;
}